<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Voting.Development.ConnectionString" connectionString="Data Source=localhost;Initial Catalog=voting_dev;Integrated Security=true;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
